:root {
    --light-gray: rgb(217, 217, 217);
}

h1 {
    margin: 30px 0;
}

h3 {
    height: 5px;
}

hr {
    width: 70vw;
    margin: 30px 0;
    background-color: var(--light-gray);
    border: 0;
    height: 1.5px;
    padding: 0;
}

.item-holder {
    padding-bottom: 70px;
}

.todo-container {
    margin-left: 30px;
    color: rgb(27, 31, 48);
}

.items {
    display: flex;
    flex-direction: column;
}

.checkbox-holder {
    padding-top: 10px;
    font-weight: 600;
}

.check {
    border: solid 10px var(--light-gray);
}

.text {
    padding-left: 10px;
    text-transform: capitalize;
}

